:root {
    --themeColor: rgb(0, 105, 252);
    --buttonHover: rgb(0, 69, 166);
    --buttonActive: rgb(2, 50, 117);
    --paragrapheColor: rgb(34, 47, 60);
    --cardDescriptionColor: rgb(33, 57, 81);
    --shadow: 0 4px 5px rgba(0, 0, 0, 0.305);
}

body {
    padding: 0;
    margin: 0;

    width: 100vw;
    overflow-x: hidden;
}

article>h1>a {
    font-size: 26px;
    text-decoration: none;
}

.button {
    background-color: var(--themeColor);
    color: white;

    margin: 2%;
    padding: 0.8% 1.2%;
    width: 9rem;
    height: 2.3rem;
    font-size: 1rem;

    border: none;
    border-radius: 5px;

    position: relative;
    transition: all .4s ease-in;
    z-index: 1;
}

.button-full {
    width: 100% !important;
    position: relative;
    right: 2%;
    margin-top: 5%;
}

.button::after,
.button::before {
    position: absolute;
    content: '';
    z-index: -1;
}

.button:hover {
    /* box-shadow: 10px 10px 0px #ff96ad;
    top: -5px;
    left: -5px; */

    /* Door Effect */
    box-shadow: inset -10.5rem 0 0 0 #2a00fd,
        inset 11rem 0 0 0 #2a00fd, 0px 0px 10px rgba(7, 0, 106, 0.779);


    /* Glow effect */
    /*  background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad,
        0 0 30px #ff96ad, 0 0 100px #ff96ad; */
}

.button:active {
    background-color: var(--buttonActive);

}


.navItemSmallScreen {
    display: block;
    /* border: 1px solid black; */
    padding: 5px 12px;

}

.navItemSmallScreen:hover {
    background-color: var(--buttonHover);
    color: white;
}

.navItemSmallScreen:active {
    background-color: var(--buttonActive);
    color: white;
}


.border {
    border: 1px solid black;
}



hr {

    width: 60px;
    height: 4px;
    background: rgb(0, 0, 0);
    border: none;

    margin-bottom: 2rem;
}

/*----------------------------------
 -----------------------------------
 ------- Navigation ----------------
 --------------------------------*/
nav {
    background-color: white;

    margin-top: 0;
    z-index: 11;

    box-shadow: var(--shadow);

    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

.logo {
    margin-left: 5%;
    list-style: none;
    font-size: 1.5rem;

    position: relative;
    bottom: 5px;
}

.logo-part1 {
    color: blue;
    font-weight: 700;
}

.middleItems {
    display: flex;

    position: relative;
}

.middle {
    margin-right: 6%;
}

/* When hovered , display all the 6 regions */
.dropdown {
    position: relative;
    display: block;
}

.dropbutton {
    text-align: end;
    height: 2rem;
}

.dropdown-content-nav {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 7px 16px 0px rgba(0, 0, 0, 0.182);
    z-index: 1;
}

.dropdown-content-nav a {
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    color: black;
}

.dropdown-content-nav a:hover {
    background-color: rgb(171, 171, 171);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content-nav {
    display: block;
}

/*******************/
.dropdown-content-nav2 {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 7px 16px 0px rgba(0, 0, 0, 0.182);
    z-index: 1;
}

.dropdown-content-nav2 a {
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    color: black;
}

.dropdown-content-nav2 a:hover {
    background-color: rgb(171, 171, 171);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content-nav2 {
    display: block;
}


/* Dropdown for the button nav */
.dropdown-btn {
    position: absolute;
    right: 0;
    top: 0px;

    width: 50px;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 7px 16px 0px rgba(0, 0, 0, 0.182);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    color: black;
}

.dropdown-content a:hover {
    background-color: rgb(171, 171, 171);
}

/* Show the dropdown menu on hover */
.dropdown-btn:hover .dropdown-content {
    display: block;
}

.gridNav {
    display: grid;

    grid-template-columns: 50% 40% 10%;
    grid-template-rows: auto;

    padding: 0.1% 0.4%;
}

.navItem {
    list-style: none;
    text-align: center;

    padding: 4px;
}

ul>li>a {

    text-decoration: none;
    font-size: 100%;
    display: block;

}

ul>li {
    list-style: none;
}

.navItem:active {
    transform: scale(1.05);
}

.navButton {
    display: none;
}

/* Quote style */

.quote-start {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.star-icon {
    width: 15px;
    height: 15px;
}

@media screen and (max-width: 600px) {
    img {
        width: 100%;
        height: 100%;
    }

    nav {
        height: 50px;
    }

    .logo {
        margin-left: 2%;
    }

    .middleItems,
    .navItem {
        display: none;
    }

    .buttonMenu {
        width: 42px;
        height: 42px;
        border: none;
        background-color: transparent;
        transition: 0.3s all;
    }

    .dropdown-btn {
        display: inline-block;

        margin-right: .5rem;
    }


}

@media screen and (min-width: 600px) and (max-width :768px) {
    img {
        width: 100%;
        height: 100%;
    }

    nav {
        height: 50px;
    }

    .logo {
        margin-left: 4%;
    }

    .middleItems,
    .navItem {
        display: none;
    }

    .buttonMenu {
        width: 42px;
        height: 42px;
        border: none;
        background-color: transparent;
        transition: 0.3s all;
    }

    .dropdown-btn {
        display: inline-block;
        margin-right: 1.5rem;
    }


}

@media screen and (min-width: 768px) and (max-width :1000px) {
    .gridNav {
        grid-template-columns: 50% 35% 15%;
    }
}