header{
    position: relative;
    height: 50em;
}
header img, header h2{
    position: absolute;
    box-shadow: 0 0 10px var(--shadowColor);
}
header h2{
    padding: 5px;
    background: transparent;
    border-radius: 20px;
    top: 73%;
    left: 50%;
}
#stImg{
    top: 25%;
    left: 30%;
    transform: translateX(-50%);
    width: 20em !important;
    /* max-width: 20em !important;
    min-width: 10em !important; */
    z-index: 2;
}
#ndImg{
    top: 5%;
    left: 32%;
    width: 30em !important;
    /* max-width: 30em !important;
    min-width: 18em !important; */
    z-index: 3;
}

#rdImg{
    top: 40%;
    left: 25%;
    width: 37em !important;
    /* max-width: 37em !important;
    min-width: 22em !important; */
}
header p{
    text-align: justify;
    position: absolute;
    top: 80%;
    left: 20%;
}

/*********************************************************/
.article{
    margin: 100px 0;
}

.article:nth-child(odd) .block .card:nth-child(even){
    display: flex;
    flex-direction: column-reverse;
}
.article:nth-child(even) .block .card:nth-child(odd){
    flex-direction: column-reverse;
}

.block{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; */
}
.block img{
    width: 100%;
    box-shadow: 0 0 10px var(--shadowColor);
}

.article h2{
    text-align: center;
    padding-bottom: 10px;
}

.card{
    padding: 10px 3em;
    border: 1px solid var(--color1);
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.card p{
    text-align: center;
    /* width: 70%; */
}

/* footer */


@media  screen and (max-width:768px) {
    .block{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            'card1 card2'
            'card3 card3';
        align-items: center;
        justify-items: center;
    }
    .block .card:first-child{
        grid-area: card1;
    }
    .block .card:nth-child(even){
        grid-area: card2;
    }
    .block .card:last-child{
        grid-area: card3;
        width: 50%;
        
    }
    #stImg{
        width: 15em !important;
    }
    #ndImg{
        width: 25em !important;
    }
    #rdImg{
        width: 32em !important;
        top: 36%;
    }
    header h2{
        top: 65%;
        left: 57%;
    }
}

@media screen and (max-width: 600px) {
    .block{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            'card1'
            'card2'
            'card3';
    }

    .block .card:first-child{
        grid-area: card1;
    }
    .block .card:nth-child(even){
        grid-area: card2;
    }
    .block .card:last-child{
        grid-area: card3;
        width: 100%;
    }
    html{
        width: 100%;
    }

}