/*
<header>
    <div class="imageContainer">
    </div>

    <div class="descriptionOfTheRegion">
    </div>
</header>
*/
header {
    position: relative;
    top: 4rem;
    right: 9rem;
    height: 85vh;
    margin-bottom: 5rem;

    display: flex;
    /* border: dotted; */
}


/*================================================================
  imageContainer
  ================================================================*/
/*
<div class="imageContainer">
    <img id="secondImg" src="./../assets/img/antananarivo/tana1.jpg" alt="">
    <img id="firsecondImg" src="./../assets/img/antananarivo/tana2.jpg" alt="">
    <img id="rdImg" src="./../assets/img/antananarivo/tana3.jpg" alt="">
</div>
*/
.imageContainer {
    position: relative;
}

#firstImg,
#secondImg,
#thirdImg {
    position: absolute;
}

#firstImg {
    width: 34rem;
    top: 2rem;
    left: 22rem;
}

#secondImg {
    width: 20rem;
    top: 10rem;
    left: 12rem;
}


#thirdImg {
    width: 30rem;
    top: 20rem;
    left: 17rem;
    z-index: 3;
}

/*================================================================
  descriptionOfTheRegion
  ================================================================*/
/*
<div class="descriptionOfTheRegion">
    <h2></h2>
    <p></p>
</div>
*/

/* Position of the description must be to right of the img */
.descriptionOfTheRegion {

    position: absolute;
    right: -5rem;
    top: 4rem;

    width: 28rem;
    height: 20rem;
}

.descriptionOfTheRegion>h2 {
    font-size: 2rem;
}

.descriptionOfTheRegion>p {
    color: var(--paragrapheColor);
}

/*================================================================
  main
  ================================================================*/
/*
<main>
   <!-- The hotel section  -->
    <section class="article"></section>

        <!-- The restaurant section -->
    <section class="article"></section>

        <!-- The must-visit place section -->
    <section class="article"></section>

        <!-- Other section -->
    <section class="article"></section>
</main>
*/
main {}

/*================================================================
  header
  ================================================================*/
/*
<div class="header">
    <h1></h1>
    <p></p>
</div>
*/
.header {

    padding-left: 5rem;
}

/* start */
.star-icon {
    width: 14px;
    height: 14px;
}


@media screen and (max-width: 600px) {


    header {
        flex-direction: column;
        top: 0rem;
        right: 0rem;
        height: 45rem;
    }

    .imageContainer {
        position: relative;
        height: 30rem;
    }

    #firstImg {
        width: 75vw;
        height: 200px;
        top: 5rem;
        left: 18vw;
    }

    #secondImg {
        width: 33vw;
        height: 150px;
        top: 10rem;
        left: 1rem;
    }

    #thirdImg {
        width: 57vw;
        height: 180px;
        top: 13rem;
        left: 30vw;
        z-index: 3;
    }


    .descriptionOfTheRegion {

        position: relative;

        top: 0;
        right: 0rem;
        padding: 0 0.7rem;
        width: 95%;

    }

    main {
        position: relative;
        top: 17rem;

        padding: 0 0.7rem;

    }

    .header {

        padding-left: 0rem;
    }

    .divider {
        height: 5rem;
    }
}

@media screen and (min-width : 600px) and (max-width: 768px) {
    header {
        flex-direction: column;
        top: 0rem;
        right: 0rem;
        height: max-content;
        margin-bottom: 0;
    }

    .imageContainer {
        position: relative;
        height: 25rem;
    }

    #firstImg {
        width: 75vw;
        height: 200px;
        top: 5rem;
        left: 18vw;
    }

    #secondImg {
        width: 33vw;
        height: 150px;
        top: 10rem;
        left: 2rem;
    }

    #thirdImg {
        width: 57vw;
        height: 170px;
        top: 13rem;
        left: 30vw;
        z-index: 3;
    }


    .descriptionOfTheRegion {

        position: relative;

        top: 0;
        right: 0rem;
        padding: 0 0.7rem;
        width: 95%;

    }

    main {
        position: relative;
        top: 17rem;

        padding: 0 0.7rem;

    }

    .header {

        padding-left: 0rem;
    }

    .divider {
        height: 4rem;
    }
}

@media screen and (min-width : 768px) and (max-width: 1300px) {
    header {
        flex-direction: column;
        top: 0rem;
        right: 0rem;
        height: max-content;
    }

    .imageContainer {
        position: relative;
        height: 25rem;
    }

    #firstImg {
        width: 75vw;
        height: 15rem;
        top: 5rem;
        left: 18vw;
    }

    #secondImg {
        width: 33vw;
        top: 10rem;
        left: 2rem;
    }

    #thirdImg {
        width: 57vw;
        top: 13rem;
        left: 30vw;
        z-index: 3;
    }


    .descriptionOfTheRegion {

        position: relative;

        top: 0;
        right: 0rem;
        padding: 0 0.7rem;
        width: 95%;

    }

    main {
        position: relative;
        top: 17rem;

        padding: 0 0.7rem;

    }

    .header {

        padding-left: 0rem;
    }

    .divider {
        height: 4rem;
    }
}

@media screen and (min-width : 1000px) and (max-width: 1300px) {
    header {
        flex-direction: column;
        top: 0rem;
        right: 0rem;
        height: max-content;
    }

    .imageContainer {
        position: relative;
        height: 25rem;
    }

    #firstImg {
        width: 75vw;
        height: 15rem;
        top: 5rem;
        left: 18vw;
    }

    #secondImg {
        width: 33vw;
        top: 10rem;
        left: 2rem;
    }

    #thirdImg {
        width: 57vw;
        top: 13rem;
        left: 30vw;
        z-index: 3;
    }


    .descriptionOfTheRegion {

        position: relative;

        top: 2.5rem;
        right: 0rem;
        padding: 0 0.7rem;
        width: 95%;

    }

    main {
        position: relative;
        top: 17rem;

        padding: 0 0.7rem;

    }

    .header {

        padding-left: 0rem;
    }

    .divider {
        height: 4rem;
    }
}